.hero {
  position: relative;
  background-size: cover;
  background-position: center;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: var(--mantine-spacing-xl);

  @media (max-width: $mantine-breakpoint-xs) {
    padding: var(--mantine-spacing-md);
  }
}

.title {
  color: var(--mantine-color-white);
  font-size: rem(50px);
  font-weight: 900;
  line-height: 1.1;
  text-align: center;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(40px);
  }

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(32px);
  }

  @mixin light {
    color: var(--mantine-color-gray-9);
  }

  @mixin dark {
    color: var(--mantine-color-gray-2);
  }
}

.highlight {
  color: var(--mantine-color-primary-4);
}

.description {
  color: var(--mantine-color-white);
  max-width: rem(600px);
  font-weight: 500;
  text-align: center;
  margin: 0 auto;

  @media (max-width: $mantine-breakpoint-sm) {
    max-width: rem(400px);
  }

  @media (max-width: $mantine-breakpoint-xs) {
    max-width: 100%;
  }

  @mixin light {
    color: var(--mantine-color-black);
  }

  @mixin dark {
    color: var(--mantine-color-gray-2);
  }
}

.controls {
  margin-top: calc(var(--mantine-spacing-xl) * 1.5);
  display: flex;
  gap: var(--mantine-spacing-md);

  @media (max-width: $mantine-breakpoint-xs) {
    flex-direction: column;
    align-items: stretch;
  }
}

.control {
  height: 42px;
  font-size: var(--mantine-font-size-md);
  color: var(--mantine-color-gray-7);
  width: auto;

  @media (max-width: $mantine-breakpoint-xs) {
    width: 100%;
  }

  &:hover {
    color: var(--mantine-color-gray-10);
  }
}

.secondaryControl {
  color: var(--mantine-color-white);
  background-color: var(--mantine-color-gray-6);
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--mantine-spacing-md);
}

.legacyLink {
  color: inherit;
  text-decoration: none;

  @media (max-width: $mantine-breakpoint-xs) {
    width: 100%;
  }
}
