.panelToolbar {
  border-bottom: 1px solid var(--mantine-color-gray-2);

  @mixin dark {
    border-bottom: 1px solid var(--mantine-color-dark-6);
  }
}

.centerActions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
